# Python ka chilla
## How to us desktop in jupyter notebook
### Basics of python
**01- My First Program**

In [3]:
#My_first program in python
print(2+3)
print("Hello World")
print("We are learning Python with Aammar")

5
Hello World
We are learning Python with Aammar

**02 operators**

In [4]:
print(2+1)
print(3-1)
print(6/2)
print(2*3)
print(13%2)
print(6//2)
print(2**3)

print(3**2/2*3/3+6-4)

3
2
3.0
6
1
3
8
6.5

*PEMDAS
Parentheses Exponents Multiplication Division(from left to right),Addition Subtraction (from left to right)*

**03 string**

In [5]:
print("Hello World")
print("We are learning Python with Aammar")
print('Test for single code')
print("test for double code")
print('''test for tripple code''')

print("What's  up")

Hello World
We are learning Python with Aammar
Test for single code
test for double code
test for tripple code
What's  up

**04 comments**
shortcut keys to comment out ctrl+/

In [2]:
print("How are you")     #press these to comment out ctrl+/
print("We are learning Python with Aammar") #print a string
print(2+6) #print operators function with number

How are you
We are learning Python with Aammar
8

**05 variables** 
variables:  object containing specific values

In [4]:
x = 5  #numeric or integers variable
print (x)

y = "We are learning Python with Aammar"  #string variable
print (y)

x= x+10  #x=15
print (x)


#types/class of variables
type(x)
print(type(x))

print(type(y))

#print_type_class 

# Rule to assign variable:
# 1- the variable should contain letters number or underscore
# 2- do not start with numbers
# 3- spaces are not allowed
# 4- do not use keywords in functions
# 5- short and descriptive
# 6- case sensitivity uppercase/lowercase letters (lowercase letters should be used)


fruit_basket= 8
#fruit_basket= "mangoes"
print(type(fruit_basket))
print(fruit_basket)

5
We are learning Python with Aammar
15
<class 'int'>
<class 'str'>
<class 'int'>
8

**06 input variables**

In [5]:
# fruit_basket="mangoes"
# print(fruit_basket)

#input function simple 
# fruit_basket=input("what is your favourite fruit?  ")
# print(fruit_basket)

#input function of second stage
# name=input ("what is your name?  ")
# greeting=("hello!")
# print(greeting,name)

#another way of second stage
name=input ("what is your name?  ")
print("hello!", name)

#third stage input function 
name=input ("what is your name?  ")
age=input ("how old are you?  ")
greeting=("hello!")

print(greeting, name, ", you are  still young")

what is your name?  zainab
hello! zainab
what is your name?  zainab
how old are you?  17
hello! zainab , you are  still young

**07- conditional logic**

In [7]:
#logical operators are either "True OR False" OR "YES OR NO" OR "0 OR 1"

# Less than or equal	    <=
# Greater than or equal		>=
# Equals	              	==
# Not equal	            	!=
# Less than 	            <
# Greater than 		        >

#is 4 equal to 4
# print(4==4)
# print(4!=4)
# print(4>3)
# print(3>6)
# print(3<=5)
# print(5>=4)

# applications of logical operators
# hammad_age=4
# age_at_school=5
# print(hammad_age==age_at_school)

#input function and logical operators
age_at_school=5
hammad_age=input("how old is hammad?    ") #input function
hammad_age=int( hammad_age)
print(type(hammad_age))
print(hammad_age==age_at_school) #logical operators

how old is hammad?    5
<class 'int'>
True

**08- type conversion**

In [8]:
# x =  10              #integer
# y =  10.2            #float
# z = "Hello!"         #string

# #Implicit Type Conversion
# x = x+y
# print(x,"type of x is:", type(x))

#Explicit Type Conversion
# age=input("What is your age?  ")
# #age=int(age)
# print(age, type(int(age)))

name=input("What is your name?  ")
print(name, type(str(name)))

What is your name?  zainab
zainab <class 'str'>

**09- if else elif**

In [9]:
hammad_age=5
required_age_at_school=5
# QUESTION: can hammad go to school?

if hammad_age==required_age_at_school:
    print("congratulation! hammad can join the school")
elif hammad_age > required_age_at_school:
    ("hammad should join higher secondary school")
elif hammad_age <= 2:
    print("you should take care of hammad, he is still a baby!")
else:
    ("hammad can not go to school")

congratulation! hammad can join the school

**11- loop**

In [10]:
#while and for loop
 #while loop

# x=0
# while (x<5):
#     print(x)
#     x=x+1

#for loop

# for x in range(5,10):
#     print(x)

# array
from ast import If


days = ["Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday", "Sunday"]
for d in days:
    #if (d=="Friday"):break   #loop stops
    if (d=="Friday"):continue #skips d
    print(d)

Monday
Tuesday
Wednesday
Thursday
Saturday
Sunday

**12- import libraries**

In [11]:
#if you want to print the value of pi
import math
print("the value of pi is ", math.pi)

import statistics
x=[150,250,350,450]
print(statistics.mean(x))

#Numpy , Pandas

the value of pi is  3.141592653589793
300

**13- trouble shooting**

In [12]:
#print(We are learning Python with Aammar)   #Syntax Error

#print(25/0) #Runtime Er 



name= "zainab"
print("hello ", name)

hello  zainab